################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/LibrarySystem/v16/Server/sqlite3/db.lock
/.vs/LibrarySystem/v16/Server/sqlite3/storage.ide
/.vs/LibrarySystem/v16/Server/sqlite3/storage.ide-shm
/.vs/LibrarySystem/v16/Server/sqlite3/storage.ide-wal
/.vs/LibrarySystem/v16/.suo
/.vs/slnx.sqlite
/.vs/VSWorkspaceState.json
